.tardisMenu {
    /*background-color: orange;*/
    position:absolute;
    left:50%;
    width: 600px;
    height: 1137px;
    margin-top: -150px;
    margin-left: -300px;
    -webkit-transform:scale(0.7);
-moz-transform:scale(0.7);
-ms-transform:scale(0.7);
transform:scale(0.7);

}


.tardis.perspective #door {
    /*background-color: orange;*/
     margin-top:180px
    width: 180px;
    height: 900px;
    position: absolute;
    box-sizing: border-box;
    z-index: 100;
}


.navbar {
    display: none;
    top: 23.5%;
    left:19%;
    margin-right: -10%;
    width: 180px;
    height: 100px;
    position: absolute;
}

#nav {
    /*background-color: gray;*/
    width: 180px;
    height: 900px;
}

.perspective
{
    /*background-color:blue;*/
background: url("static/tardis_background.png");            
background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            display: inline;
            float: left;
            width: 600px;
            height: 1137px;
            margin: 20px;
            margin-left: 0px;
            -webkit-perspective: 450;
            border-radius: 3px;
            box-sizing: border-box;
        }


        
.thumb /*CHANGES DIV FOR MOUSOVER OF DOOR*/
    {
        /*background-color: green;*/
        background: url("static/door.png");
            background-repeat: no-repeat;
            top: 23.5%;
            left:17%;
            margin-right: -10%;
            width: 180px;
            height: 900px;
            position: absolute;
            box-sizing: border-box;
            box-shadow: 0 0 0 10px rgba(255, 255, 255, .0) inset;
            transition: 1s transform linear;
            transform-origin: left;
            cursor: pointer;
            z-index: 100;
        }

        
.thumbOpened {
    /*background-color:red;*/
    transform: rotateY(90deg);
    transform-origin: 8px;
    transition: .5s linear;
}

@keyframes go {
  100%{
    opacity:1;
    transform:rotateY(0deg);
  }
}

h2 {
    position:center;
    text-align: center;
    font-size: 30px;
}

ul {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

.grow {
    font-size: 200px;
}