.tardis.perspective #door {
    background-color: orange;
     margin-top:180px;
    width: 135px;
    height: 762px;
    position: absolute;
    box-sizing: border-box;
}


.navbar {
    /*background-color: yellow;*/
    display: none;
    /*z-index: 100;*/
     /*margin-left: 70px;
    margin-top:180px;
    width: 135px;
    height: 600px;*/
    /*position: absolute;*/
    margin-top:180px;
    width: 135px;
    height: 762px;
    margin-left: 30px
}

#nav {
    /*background-color: red;*/
    width: 135px;
    height: 600px;
}

.perspective
{
    background-color:blue;
background: url("static/tardis_background.png");            
background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            display: inline;
            float: left;
            width: 403px;
            height: 762px;
            margin: 20px;
            margin-left: 0px;
            -webkit-perspective: 450;
            border-radius: 3px;
            box-sizing: border-box;
        }

/*.perspective {
     margin-left: 65px;
            margin-top:180px;
            width: 135px;
            height: 762px;
            position: absolute;
            box-sizing: border-box;
             -webkit-perspective: 450;
            border-radius: 3px;
            transition: 1s transform linear;
            transform-origin: left;
            cursor: pointer;

}*/
        
.thumb /*CHANGES DIV FOR MOUSOVER OF DOOR*/
    {
        background-color: green;
        background: url("static/door.png");
            background-repeat: no-repeat;
            /*background-position: center center;*/
            margin-left: 65px;
            margin-top:180px;
            width: 135px;
            height: 600px;
            position: absolute;
            box-sizing: border-box;
            /*border-radius: 3px;*/
            box-shadow: 0 0 0 10px rgba(255, 255, 255, .0) inset;
            transition: 1s transform linear;
            transform-origin: left;
            cursor: pointer;
        }
        
.thumbOpened {
    transform: rotateY(90deg);
    transform-origin: 8px;
    transition: .5s linear;
}

@keyframes go {
  100%{
    opacity:1;
    transform:rotateY(0deg);
  }
}
